<!--
SPDX-FileCopyrightText: 2023 Istituto Nazionale Previdenza Sociale

SPDX-License-Identifier: BSD-3-Clause
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.inps.spid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name="it.inps.spid.activity.IdentityProviderSelectorActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
